*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main{
    background-color: #ffffff;
    width:42%;
    height: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:4% auto;
    border-radius: 0.5rem;
    /* border: solid 2px red; */
    gap: 1.5rem;
    padding: 2rem;
    box-shadow: 0px 0px 6px 3px #dcdada;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width:100%
}

form input{
    width:50%;
    padding:0.4rem;
    border-radius: 0.3rem;
    border: 1px rgb(205, 204, 204) solid;
}

form button{
    color: white;
    background-color: #007bff;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    width:20%;
}

#show_age{
   
    font-size: 150%;
}